/* Container for profile */
.profile-container {
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    background-color: #f4f4f9;
    border-radius: 10px;
}

h2 {
    text-align: center;
    color: #333;
}

/* Card for profile display */
.profile-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Profile header with avatar */
.profile-header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    width: 100%;
    justify-content:  center;
}

.profile-avatar {
    width: 50%;
    height: 50%;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 20px;
}


/* Profile details */
.profile-details h3 {
    margin: 0;
    font-size: 24px;
    color: #333;
}

.profile-details p {
    font-size: 16px;
    margin: 5px 0;
    color: #555;
}

.profile-details a {
    color: #007bff;
    text-decoration: none;
}

.profile-details a:hover {
    text-decoration: underline;
}

.img-profile{
    width: 50%;
}

/* Form for updating profile */
.profile-form {
    width: 100%;
    margin-top: 20px;
}

.profile-form h3 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    font-weight: bold;
    color: #333;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 5px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
