/* Đảm bảo phần tử chứa loader sẽ căn giữa */
.loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh; /* Chiều cao 100% của viewport */
  }
  
  .loader {
    width: 45px;
    aspect-ratio: 1; /* Đảm bảo tỷ lệ chiều rộng / chiều cao là 1:1 */
    --c: no-repeat linear-gradient(45deg, #29ca8e, #00c8b2);
    background: 
      var(--c) 0% 50%,
      var(--c) 50% 50%,
      var(--c) 100% 50%;
    animation: l7 1s infinite linear alternate;
  }
  
  @keyframes l7 {
    0%  {background-size: 20% 50%, 20% 50%, 20% 50%;}
    20% {background-size: 20% 20%, 20% 50%, 20% 50%;}
    40% {background-size: 20% 100%, 20% 20%, 20% 50%;}
    60% {background-size: 20% 50%, 20% 100%, 20% 20%;}
    80% {background-size: 20% 50%, 20% 50%, 20% 100%;}
    100% {background-size: 20% 50%, 20% 50%, 20% 50%;}
  }
  